:root {
  --primary: #6b1912;
  --secondary: #dc702f;
  --tertiary: #95ac16;
  --quatrinary: #3b671a;
  --light: #ecdfbf;
  --soLight: #fcfdfb;
  --hover: #778db1;
  --border-radius: 0.3rem;
  --background : #e6c76d;
}

.page {
  background-image: url("../../assets/images/background-image.jpg");
  background-size: cover;
  height: 80%; 
}

header {
  margin: 0 auto;
  background-color: var(--primary);
  color: var(--light);
  width: 100%;
}

header h1 {
  text-align: center;
  padding-top: 40px;
}

.nav{
  padding-top: 50px;
}
.nav-item a {
  color: var(--light);
  font-weight: bold;
}

.nav-item a.active {
  color: var( --secondary);
}

.active {
  color: var(--secondary);
}
.nav-item a:hover {
  color: var(--secondary);
}

footer {
 /* height: 10vh;*/
  padding-top: 13px;
  padding-bottom: 15px;
  background-color: var(--quatrinary);
  color: var(--light);
}

.about-p,
.resume{
  height: 100%;
  width: 50vw;
  text-align: justify;
  font-size: 18px;
  padding-top: 10px;
  line-height: 30px;
}
.about-page,
.resume-page{
  padding-top: 10px;
  padding-bottom: 20px;
}

.media-link{
  padding-top: 5px;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50px;  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.medium-img{
  background-image: url("../../assets/images/medium.png");
  background-size: cover;
}

.github-img{
  background-image: url("../../assets/images/github.png");
  background-size: cover;
}

.linkedin-img{
  background-image: url("../../assets/images/linkedin.png");
  background-size: cover;
}

.portfolio-page{
  background-color: var(--background);
}

.card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 500px;
  transition: width 1s, height 1s ease-in-out;
}

.card:hover{
  box-shadow: 20px 20px 20px var(--header-bg-color);
  width: 83%;
  height: 53%
}

.card-title,
.card-body a{
  color: var(--secondary);
}
.card-body a{
  height: 30px;
}
.card-body{
  margin: 0px;
  padding: 0px;
}

.card-body a:hover{
  color: var(--quatrinary);
}

.card-body{
  text-align: justify;
  background-color: var(--light);
}

.link{
  
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.deploy{
  background-image: url("../../assets/images/deploy.png");
}

.github{
  background-color: var(--soLight);
  background-image: url("../../assets/images/github.png");
}

.skill{
  text-align: center;
  margin-right: 5px;
  width:100px;
  height:30px;
  background-color: var(--tertiary);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card-img-top{
  height:50%
}

.my-photo{
  float: left;
  margin:10px 20px 10px 48px;
  width: 200px;
  height:200px;
 /* border-radius: 120px;*/
}

.custom-prj-img{
  height: 230px;
}

.resume a{
  color: var(--secondary);
}

.resume a:hover{
  color: var(--quatrinary);
}

.italic-text {
  font-style: italic;
}

.email span{
  color: var(--secondary);
}